*{
    margin: 0;
    border: 0;
}
body{
    background-color: #dedede;
    font-family: Verdana;
}
#wrapper{
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    margin: 0 auto;
}
#main{
    position: relative;
    width: 405px;
    height: 405px;
    margin: 50px auto;
}
#title{
    width: 100%;
    min-width: 800px;
    height: 100px;
    margin: 20px auto;
    position: absolute;
}
#top{
    position: relative;
    width: 405px;
    height: 150px;
    margin: 25px auto;
    text-align: left;
}
#example{
    float: left;
    width: 150px;
    height: 150px;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 0;
}
#stats{
    float: left;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 0;
    width: 215px;
    height: 130px;
    padding: 10px;
    background-color: #ffffff;
    margin-left: 20px;
}
#title{
    font-size: 24px;
}
.txt{
    margin-top: 10px;
    font-size: 15px;
    display: block;
}
.pieces{
    position: absolute;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border-radius: 7px;
    overflow: hidden;
    box-shadow: 3px 3px 3px 0;
    background-color: #ffffff;
    display: none;
}
#position0, #position1, #position2, #position3{
    top: 1px;
}
#position4, #position5, #position6, #position7{
    top: 102px;
}
#position8, #position9, #position10, #position11{
    top: 203px;
}
#position12, #position13, #position14, #position15{
    top: 304px;
}
#position0, #position4, #position8, #position12{
    left: 1px;
}
#position1, #position5, #position9, #position13{
    left: 102px;
}
#position2, #position6, #position10, #position14{
    left: 203px;
}
#position3, #position7, #position11, #position15{
    left: 304px;
}
